.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
}

.rating {
  height: 720px;
  margin: 0;
  margin: 0 20px;
  padding: 10px;
  width: 210px;

  display: flex;
  flex-direction: column;

  list-style: none;
  background-color: rgba(241, 188, 89, 0.7);
  border-radius: 15px;
}

.score {
  font-size: 2.2rem;
  color: var(--light-white-color);
  font-weight: bold;
}

.active {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffd902;
  border-radius: 15px;
  color: #421b75;
  font-weight: bold;
  font-size: 3rem;
}
