.rating {
    margin: 0;
    padding: 0;
    padding-left: 60px;


    display: flex;
    flex-direction: column;


    list-style: none;
}

.score {
    font-size: 2rem;
}

.active {
    background-color: var(--light-pink-color);
    color: var(--primary-black-color);
    font-weight: bold;
    font-size: 2rem;
}